<div class="m-twoFactor__optionContainer">
  <h4 class="m-twoFactor__optionTitle">
    <ng-container i18n="setup with app|@@MFA_SETTINGS_ROOT__APP"
      >App</ng-container
    >
    <span
      *ngIf="(totpEnabled$ | async) && !(inProgress$ | async)"
      i18n="is enabled@@MFA_SETTINGS_ROOT__ENABLED"
      >Enabled</span
    >
  </h4>
  <p i18n="@@MFA_SETTINGS_ROOT__USE_APP_WITH_PHONE">
    Use an application on your phone to get a two-factor authentication code
    when prompted.
  </p>
  <!-- Not Enabled! -->
  <div
    class="m-twoFactor__optionButtonContainer"
    *ngIf="!(totpEnabled$ | async); else enabled"
  >
    <m-button
      [color]="'blue'"
      (onAction)="onSetupAppClick()"
      [saving]="inProgress$ | async"
    >
      <ng-container i18n="@@MFA_SETTINGS_ROOT__SETUP_USING_AN_APP">
        Setup using an app
      </ng-container>
    </m-button>
  </div>
  <!-- Is Enabled-->
  <ng-template #enabled>
    <div class="m-twoFactor__optionButtonContainer">
      <m-button
        [color]="'red'"
        [size]="'small'"
        [saving]="inProgress$ | async"
        (onAction)="onDisableIntegrationClick()"
      >
        <ng-container
          i18n="disable 2fa|@@MFA_SETTINGS_ROOT__DISABLE_APP_INTEGRATION"
        >
          Disable app integration
        </ng-container>
      </m-button>
    </div>
  </ng-template>
</div>

<div class="m-twoFactor__optionContainer">
  <h4 class="m-twoFactor__optionTitle">
    <ng-container i18n="@@MFA_SETTINGS_ROOT__SMS">SMS</ng-container>
    <span
      *ngIf="(smsEnabled$ | async) && !(inProgress$ | async)"
      i18n="is enabled|@@MFA_SETTINGS_ROOT__ENABLED"
      >Enabled</span
    >
  </h4>
  <p
    class="m-twoFactor__optionDescription"
    i18n="@@MFA_SETTINGS_ROOT__MINDS_WILL_SEND_SMS"
  >
    Minds will send you an SMS with a two-factor authentication code when
    prompted.
  </p>
  <m-button
    class="m-twoFactor__optionButton"
    (onAction)="onSMSClick()"
    [color]="(smsEnabled$ | async) ? 'red' : null"
    [saving]="inProgress$ | async"
  >
    <ng-container
      *ngIf="!(smsEnabled$ | async)"
      i18n="@@MFA_SETTINGS_ROOT__SETUP_USING_SMS"
    >
      Setup using SMS
    </ng-container>
    <ng-container
      *ngIf="smsEnabled$ | async"
      i18n="@@MFA_SETTINGS_ROOT__DISABLE_SMS_AUTH"
    >
      Disable SMS authentication
    </ng-container>
  </m-button>
</div>

<!-- Email 2FA is always on when TOTP and SMS are not enabled -->
<div
  class="m-twoFactor__optionContainer"
  *ngIf="!(smsEnabled$ | async) && !(totpEnabled$ | async)"
>
  <h4 class="m-twoFactor__optionTitle">
    <ng-container i18n="@@MFA_SETTINGS_ROOT__EMAIL">Email</ng-container>
    <!-- Always enabled if this is showing -->
    <span i18n="is enabled|@@MFA_SETTINGS_ROOT__ENABLED">Enabled</span>
  </h4>
  <p
    class="m-twoFactor__optionDescription"
    i18n="@@MFA_SETTINGS_ROOT__MINDS_WILL_SEND_EMAIL"
  >
    Minds will send you an email with a two-factor authentication code when no
    other Two-factor authentication is set-up.
  </p>
</div>
