<div class="m-admin-withdrawals">
  <div class="m-admin-withdrawals__legend">
    <ng-container *ngIf="user">
      <b>@{{ user }}</b
      >'s withdrawals
    </ng-container>

    <ng-container *ngIf="!user"> Pending Withdrawals </ng-container>
  </div>

  <div class="m-admin-withdrawals__transactionInputContainer" *ngIf="!user">
    <input
      class="m-admin-withdrawals__transactionInput"
      type="text"
      placeholder="Manually Add by Transaction ID"
      #txInput
    />
    <m-button
      class="m-admin-withdrawals__transactionInputButton"
      (onAction)="addMissingWithdrawal(txInput.value)"
      size="'small'"
      >Submit</m-button
    >
    <m-button
      class="m-admin-withdrawals__transactionInputButton"
      (onAction)="garbageCollect()"
      size="'small'"
      color="'red'"
      >Garbage Collect</m-button
    >
  </div>
  <div
    class="m-admin-withdrawals__card"
    *ngFor="let request of withdrawals; let i = index"
  >
    <ng-container *ngIf="request">
      <div class="m-admin-withdrawalsCard__cell">
        <div class="m-admin-withdrawalsCardCell__label">Last Updated</div>

        <div class="m-admin-withdrawalsCardCell__body">
          {{ request.timestamp * 1000 | date: 'short' }}
        </div>
      </div>

      <div class="m-admin-withdrawalsCard__cell">
        <div class="m-admin-withdrawalsCardCell__label">User</div>

        <div class="m-admin-withdrawalsCardCell__body">
          <a [routerLink]="['/', request.user?.username]"
            >@{{ request.user?.username }}</a
          >
        </div>
      </div>

      <div class="m-admin-withdrawalsCard__cell">
        <div class="m-admin-withdrawalsCardCell__label">Signed up</div>

        <div class="m-admin-withdrawalsCardCell__body">
          {{ request.user?.time_created * 1000 | date: 'shortDate' }}
        </div>
      </div>

      <div class="m-admin-withdrawalsCard__cell">
        <div class="m-admin-withdrawalsCardCell__label">Referrer</div>

        <div class="m-admin-withdrawalsCardCell__body">
          <ng-container *ngIf="request.referrer; else organicText">
            <a [routerLink]="['/', request.referrer.username]"
              >@{{ request.referrer.username }}</a
            >
          </ng-container>
          <ng-template #organicText>
            <ng-container>(organic)</ng-container>
          </ng-template>
        </div>
      </div>

      <div class="m-admin-withdrawalsCard__cell">
        <div class="m-admin-withdrawalsCardCell__label">Amount</div>

        <div
          class="
            m-admin-withdrawalsCardCell__body
            m-admin-withdrawalsCardCell__body--bolder
          "
        >
          {{ request.amount | token: 18 | number: '1.0-4' }}
        </div>
      </div>

      <div class="m-admin-withdrawalsCard__cell">
        <div class="m-admin-withdrawalsCardCell__label">Status</div>

        <div class="m-admin-withdrawalsCardCell__body">
          {{ request.status?.replace('_', ' ') | uppercase }}
        </div>
      </div>

      <div class="m-admin-withdrawalsCard__cell" *ngIf="request.tx">
        <div class="m-admin-withdrawalsCardCell__label">Wallet</div>
        <div
          class="
            m-admin-withdrawalsCardCell__body
            m-admin-withdrawalsCardCell__body--txId
          "
        >
          <div class="m-admin-withdrawals__txId">
            {{ request.user.eth_wallet }}
          </div>
          <m-admin__txExplorers
            [address]="{
              type: 'wallet',
              id: request.user.eth_wallet
            }"
          ></m-admin__txExplorers>
        </div>
      </div>

      <div class="m-admin-withdrawalsCard__cell" *ngIf="request.tx">
        <div class="m-admin-withdrawalsCardCell__label">Request TX</div>
        <div
          class="
            m-admin-withdrawalsCardCell__body
            m-admin-withdrawalsCardCell__body--txId
          "
        >
          <div class="m-admin-withdrawals__txId">{{ request.tx }}</div>
          <m-admin__txExplorers
            [address]="{
              type: 'txid',
              id: request.tx
            }"
          ></m-admin__txExplorers>
        </div>
      </div>

      <div class="m-admin-withdrawalsCard__cell" *ngIf="request.completed_tx">
        <div class="m-admin-withdrawalsCardCell__label">Payout TX</div>

        <div
          class="
            m-admin-withdrawalsCardCell__body
            m-admin-withdrawalsCardCell__body--txId
          "
        >
          <div class="m-admin-withdrawals__txId">
            {{ request.completed_tx }}
          </div>
          <m-admin__txExplorers
            [address]="{
              type: 'txid',
              id: request.completed_tx
            }"
          ></m-admin__txExplorers>
        </div>
      </div>

      <div
        class="
          m-admin-withdrawalsCard__cell m-admin-withdrawalsCard__cell--actions
        "
        *ngIf="request.status === 'pending_approval'"
      >
        <div class="m-admin-withdrawalsCardCell__body">
          <a
            [routerLink]="[
              '/admin/withdrawals',
              { user: request.user?.username }
            ]"
            >History</a
          >

          <m-button
            size="small"
            [saving]="inProgress"
            (onAction)="approve(request)"
          >
            Approve
          </m-button>

          <m-button
            size="small"
            color="red"
            [saving]="inProgress"
            (onAction)="reject(request)"
          >
            Reject
          </m-button>
        </div>
      </div>
      <div
        class="
          m-admin-withdrawalsCard__cell m-admin-withdrawalsCard__cell--actions
        "
        *ngIf="request.status !== 'pending_approval'"
      >
        <div class="m-admin-withdrawalsCardCell__body">
          <m-button
            size="small"
            [saving]="inProgress"
            [disabled]="inProgress"
            (onAction)="forceConfirmation(request)"
          >
            Force Confirm
          </m-button>
          <m-button
            size="small"
            [saving]="inProgress"
            [disabled]="inProgress"
            (onAction)="redispatchCompleted(request)"
          >
            Redispatch
          </m-button>
        </div>
      </div>
    </ng-container>
  </div>

  <div
    class="m-admin-withdrawals__notice"
    *ngIf="!inProgress && !withdrawals?.length"
  >
    No withdrawals to show. You can access a user's ledger by using the admin
    drop-down on their channel.
  </div>

  <infinite-scroll
    distance="25%"
    (load)="load()"
    [moreData]="moreData"
    [inProgress]="inProgress"
  ></infinite-scroll>
</div>
